version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: battery
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  dynamodb:
    image: amazon/dynamodb-local
    command: '-jar DynamoDBLocal.jar -inMemory -sharedDb'
    ports:
      - "8000:8000"

volumes:
  pgdata:
